*{
    padding: 0;
    margin: 0;
}


header{
    background: rgb(29, 104, 6);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 50px;
    
}
button{
    margin-left: 50px;
    font-family: Tahoma;
    padding: 10px 20px;
    border-radius: 30xp;
    background: rgba(207, 22, 22, 0.63);
    color: aliceblue;
    /*border: none;*/
}
button:hover{
    background: slateblue;
    color: antiquewhite;
    cursor: pointer;
}
nav a{
    margin-left: 25px;
    color: rgb(234, 240, 182);
    font-family: Tahoma;
    text-decoration: none;

}

.hero{ 
    padding: 150px 50px;
    background-image: url(dfg.jpg);
    background-size: cover;
    background-position: center center;
}
h1{
    font-size: 70px;
    color: rgb(241, 232, 227);
    font-family: 'Yeseva One', cursive;

}
.hero p{
    color: antiquewhite;
    max-width: 50%;
    margin-top: 20px;
    font-size: 20px;
    font-family: Tahoma;
}
footer{
    background:#000;
    color:#fff;
    padding: 30px 50px;
}
.card img{
    width: 75px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.card{
    width: 30%;
}
h2{
    color: #fff;
    padding: 15px;
}
.card h3{
    color: rgb(186, 238, 181);
    padding: 13px 0;


}
.service{
    padding: 50px;
    background: rgba(7, 61, 4, 0.856);
    text-align: center;
}

@media(max-width:700px){
    header{
        flex-wrap: wrap;
        justify-content: center;
    }
nav{
    margin-bottom: 20px;
    text-align: center;
   }  
   nav a{
       margin: 0 10px;
   }
}
@media(max-width:600px){
  .wrapper{
      flex-wrap: wrap;
     
  }
  .card{
    width: 80%;
    margin: 10px auto;
}
.hero p{
    max-width: 80%;
    margin: auto;
    text-align: center;
}


h1{
    text-align: center;
    margin-bottom: 20px;
}


.hero{
padding: 50px 30px;
}


button{
    margin-left: 0;
}
footer{
    text-align: center;
}

}